*{
    margin: 0px;
}

body {
background-color: #4ab8e1;

}

#left{
    margin: auto;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  padding: 2em;
  margin: auto;
}

h1{
    color: #ffab2d;
    font-family: 'Lato', sans-serif;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#rHS{
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Lato', sans-serif;
  display: none;
}



.list{
    display: flex;
    flex-direction: row;
}

ol li{
    color: #fefcf9;
    font-family: 'Lato', sans-serif;
}

.delBtn, .editBtn{
padding-right: 2em;
display: block;
}

#calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    

    width: 50%;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 2em 0em;
}

#calendar .day, .dayNum{
        box-sizing: border-box;
cursor: default;
    text-align: center;
    padding: 10px;
}

#calendar .dayNum:hover{
    background-color: #ffab2d;
    cursor: pointer;
}