#container{
  display: flex;
  flex-direction: column;
  align-items: top;
  padding: 10px;
}

#left{
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.list{
    display: flex;
    flex-direction: row;
}